<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/styles.css" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
  <title>Short URL | TinyApp</title>
</head>
<body>
  <% include ./partials/_header %>
  <h2><%= shortURL %></h2>
  <h6>(Link created on <%= createdOn %>. Visited <%= traffic %> times by <%= uniqueVisitors %> people.)</h6>
  <div class="edit-link">
    <form method="POST" action="/urls/<%= shortURL %>?_method=PUT" class="center">
      <input type="url" id="longURL" name="longURL" placeholder="<%= longURL %>"><br/>
      <button type="submit">Update URL</button>
    </form>
  </div>
  <h5><a href="/urls/new">🔗 Shorten More!</a> | <a href="/urls/">View All</a></h5>
</body>
</html>